
@media screen and (max-width: 450px) {
	.dashboard-wrapper {
		.filter-wrapper {
			flex-direction: column;
			> * {
				flex: 1;
				&:not(:first-child) {
					margin-top: 10px;
				}
			}

			button {
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: 451px) {
	.dashboard-wrapper {
		.filter-wrapper {
			flex-direction: row;

			> * {
				flex: 1;
				&:not(:first-child) {
					margin-left: 10px;
				}
			}
		}
	}
}

.dashboard-wrapper {
	.filter-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 24px;

		[class*="FormControl"] {
			min-width: 120px;
		}

		button {
			padding: 15px 6px;
		}
	}

	.aduan-perlembaga-wrapper {
		padding: 0 24px;
		
		> [class*="Accordion"] {
			border-width: 1px;
			border-style: solid;
			border-color: #999;
			background-color: #f4f4f4;
			border-radius: 8px;
		}

		.card-row {
			display: flex;
			justify-content: center;
			.card-wrapper {
				width: 50%;
				padding: 8px 16px;
				margin: 16px;
				border-radius: 8px;
				color: white;
				font-weight: bold;
				box-shadow: inset 0 -10px 10px rgba(0,0,0,.1);

				display: flex;
				flex-direction: row;
				align-items: center;

				.icon {
					display: flex;
					align-items: center;
					justify-content: center;

					.image {
						content: "\0020";
						width: 35px;
						height: 35px;
						background-color: white;
						margin-right: 8px;
						border-radius: 10px;

						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
					}
				}
				.text {
					flex: 1;
					display: block;
					text-align: left;
					.title {
						font-size: 95%;
					}
					.total {
						font-size: 160%;
						font-weight: 600;
						line-height: 1;
						margin-bottom: 3px;
					}
				}
			}
		}
	}
	
}